<a href="https://colab.research.google.com/github/sviss-home/netology_education/blob/main/s_h_h_w_p_pandas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [ ]:
ratings = pd.read_csv('ratings.csv') #создаём датафрейм чтением из файла
ratings_grouped = ratings.groupby(by=['movieId']).mean().sort_values(by='movieId', ascending = True) #находим среднее значение для рейтинга с группировкой по movieId

def classified(row): #определяем функцию сравнения значений в строках датафрейма с заданными в функции значениями
    if row.rating >= 4.5: return 'Высокий рейтинг' #условие1 - возврат заданной в функции строки, если условие выполняется 
    elif 2 < row.rating < 4.5: return 'Средний рейтинг' #...
    elif row.rating <= 2: return 'Низкий рейтинг' #...
     
ratings_grouped['classified'] = ratings_grouped.apply(classified, axis=1) #задаём новый столбец датафрейма, в который будут записаны результаты работы функции
ratings_final = ratings_grouped[['rating','classified']] #фильтруем столбцы, оставляем rating и результаты работы функции
ratings_final.head(3000) #вывод шапки на 3000 значений

           rating       classified
movieId
1        3.872470  Средний рейтинг
2        3.401869  Средний рейтинг
3        3.161017  Средний рейтинг
4        2.384615  Средний рейтинг
5        3.267857  Средний рейтинг
...           ...              ...
3743     3.500000  Средний рейтинг
3744     2.692308  Средний рейтинг
3745     3.304348  Средний рейтинг
3746     5.000000  Высокий рейтинг
3747     3.285714  Средний рейтинг

[3000 rows x 2 columns]

In [11]:
keywords = pd.read_csv('keywords.csv') #создаём датафрейм чтением из файла
geo_data = { #словарь с ключами и значениями

    'Центр': ['москв', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровcк']

}

def classified(keywords): #определяем функцию проверки наличия ключевых слов в строках датафрейма       
    for region, cities in geo_data.items(): # для ключей region, значений(values) в элементах словаря geo_data
        for city in cities: #итерация city по geo_data values 
            if city in keywords: return region #если итерируемое значение обнаруживается в 
            # else: return 'undefined' # в ином случае возвращаем 'undefined'
     
keywords['classified'] = keywords.apply(classified, axis=1) #задаём новый столбец датафрейма, в который будут записаны результаты работы функции
keywords_sorted = keywords.sort_values('shows', ascending = False) #сортируем датафрейм по данным нового столбца
keywords_sorted.head(550) #вывод шапки на 550 рядов

                                   keyword     shows classified
0                                       вк  64292779       None
1                            одноклассники  63810309       None
2                                    порно  41747114       None
3                                     ютуб  39995567       None
4                                вконтакте  21014195       None
...                                    ...       ...        ...
10392                            365 порно    404505       None
392    переводчик с русского на английский    403874       None
397                       великолепный век    402455       None
399                               лабиринт    401173       None
99494           погода на 14 дней в москве    400914       None

[550 rows x 3 columns]

In [ ]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')
data_merged = ratings.merge(movies, on='movieId', how='left') #объединяем данные, полученные из двух источников данных в один датафрейм data_merged

def production_year(data_merged): #определяем функцию сопоставления условий, заданных в функции, данным объединённого датафрейма
    years = range(1950,2011) #задаём диапазон в локальную пременную years
    for i in years: #запускаем цикл по заданному в переменной years диапазону
        if str(i) in data_merged['title']: return i #если значение из переменной с диапазоном совпадает со значением в строке столбца title то возвращаем его
    else: return '1900' #если не совпадает, то возвращаем 1900

data_merged['year'] = data_merged.apply(production_year, axis=1) #задаём новый столбец year, в который записываем результаты работы функции методом apply с работой построчно сверху вниз       
data_merged_united = data_merged.groupby(by=['year']).mean().sort_values(by='rating', ascending = False) #вычисляем средние значения столбца, предварительно сгруппировав по году, затем сортируем по rating по убыванию 
data_merged_united.head(200) #выводим шапку на 200 строк

          userId       movieId    rating     timestamp
year
1957  360.933544   2750.965190  4.014241  1.083707e+09
1972  359.694878   3983.538976  4.011136  1.122759e+09
1952  346.394737   4107.796053  4.000000  1.090512e+09
1954  358.228324   2867.661850  3.994220  1.070591e+09
1951  347.106996   2605.588477  3.983539  1.052714e+09
...          ...           ...       ...           ...
2005  348.509719  37156.244600  3.448434  1.273459e+09
2003  340.186204   8154.379187  3.444777  1.238031e+09
1996  347.970249    909.740849  3.426600  1.020020e+09
1997  357.747044   1970.257389  3.415764  1.085420e+09
2000  342.165228   4376.611591  3.356104  1.146331e+09

[62 rows x 4 columns]

Работа кода позволяет сделать вывод о том, что, в целом, более новые фильмы имеют рейтинг ниже более старых